.lh-1{
	line-height: 1.25;
}
.container{
	max-width: 960px;
}
nav.position-sticky{
	height: fit-content;
	top: 0.8rem;
}
div.row label{
	margin-top: .8rem;
}

div.row div.custom-file{
	margin-top: -.8rem;
	margin-bottom: .5rem;
}
h6 a:hover, h6 a:focus{
	text-decoration: none;
}


a.formodal{
	color: inherit;
}
a.formodal:hover, a.formodal:focus{
	text-decoration: none;
}
